<h2>$tr.tr("title")</h2>

<p>
$tr.tr("description")
</p>
<div>
    <form action="$req.basePath/doresetpassword" method="post">
        <div class="form-field">
            <label for="username">$tr.tr("username"):</label>
            <input type="text" name="username" id="username" />
        </div>
        <div>
            <button type="submit">$tr.tr("send_email")</button>
        </div>
    </form>
</div>
<br />
<div>
    <a href="$req.basePath/login">$tr.tr("back")</a>
</div>