
<h1>$tr.trp("stats_for_course_%s", $utils.coalesce($course.name.getByPreference(true, $tr.locale), "-"))</h1>

#if (!$availableTasks.empty)
  <div class="showOptions">
      <a href="#">$tr.tr("show_options")</a>
  </div>

  <div class="taskSelection">
      <form id="filterTasksForm" action="$req.basePath/admin/statsbyuser" method="get">
          <input type="hidden" id="courseId" name="courseId" value="$course.id" />
          <input type="hidden" id="taskIds" name="taskIds" value="" />
      </form>
      <div class="taskSelectionCheckboxes">
          #foreach ($task in $availableTasks)
              <div>
                  #if (!$selectedTaskIds || $utils.inArray($task.id, $selectedTaskIds))
                      <input type="checkbox" id="task_$task.id" checked="checked" />
                  #else
                      <input type="checkbox" id="task_$task.id" />
                  #end
                  <label for="task_$task.id">$task.title.getByPreference(true, $tr.locale)</label>
              </div>
          #end
      </div>
      <div class="selectAll">
          <a href="#" class="select_all">$tr.tr("select_all")</a>
          <a href="#" class="deselect_all">$tr.tr("deselect_all")</a>
      </div>
      <div class="buttons">
          <button id="filterTasks">$tr.tr("filter_button")</button>
      </div>
      <script type="text/javascript">
      <!--
      #literal()
      $(document).ready(function() {
          $('.showOptions').click(function() {
              $('.taskSelection').show();
              $(this).hide();
          });
          $('#filterTasks').click(function() {
              var taskIds = [];
              $('.taskSelection :checkbox[id^=task_]:checked').each(function() {
                  taskIds.push((/task_(\d+)/.exec(this.id))[1]);
              });
              $('#taskIds').val(taskIds.join(','));
              $('#filterTasksForm').submit();
          });
          $('.select_all').click(function() {
              $('.taskSelection :checkbox[id^=task_]').attr('checked', 'checked');
              return false;
          });
          $('.deselect_all').click(function() {
              $('.taskSelection :checkbox[id^=task_]').removeAttr('checked');
              return false;
          });
      });
      #end
      //-->
      </script>
  </div>
#end

#if (!$users.empty && $totalTasks > 0)
    <table class="statsByUser">
        <thead>
            <tr>
                <th class="userStudentNumber">$tr.tr("user_student_number")</th>
                <th class="userRealName">$tr.tr("user_realname")</th>
                <th class="username">$tr.tr("user_username")</th>
                <th class="tasksSolved">$tr.tr("user_tasks_solved")</th>
                <th class="tasksAttempted">$tr.tr("user_tasks_attempted")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            #foreach ($userRow in $users)
                #set($solved = $tasksSolved.get($userRow.id))
                #set($attempted = $tasksAttempted.get($userRow.id))
                #set($solvedPercent = (100 * $solved) / $totalTasks)
                #set($attemptedPercent = (100 * $attempted) / $totalTasks)
                <tr>
                    <td class="userStudentNumber">$utils.maybe($userRow.studentNumber)</td>
                    <td class="userRealName">$utils.coalesce($userRow.lastName, "?"), $utils.coalesce($userRow.firstName, "?")</td>
                    <td class="username">$userRow.username</td>
                    <td class="tasksSolved">
                        <span class="tasksSolved">$solved</span> /
                        <span class="totalTasks">$totalTasks</span>
                        <span class="percentage">(<span class="tasksSolved">$solvedPercent%</span>)</span>
                    </td>
                    <td class="tasksAttempted">
                        <span class="tasksAttempted">$attempted</span> /
                        <span class="totalTasks">$totalTasks</span>
                        <span class="percentage">(<span class="tasksAttempted">$attemptedPercent%</span>)</span>
                    </td>
                    <td><a href="$req.basePath/admin/userstats?courseId=$course.id&amp;userId=$userRow.id">$tr.tr("more_info")</a></td>
                </tr>
            #end
        </tbody>
    </table>
    
    <script type="text/javascript">
    <!--
    #literal()
    $(document).ready(function() {
        $/*velocity bug workaround comment*/.tablesorter.addParser({
            id: 'completion-percentage',
            is: function(s) {
                return false; // Never autodetect
            },
            format: function(s) {
                try {
                    var $element = $('<div>' + s + '</div>');
                    return new Number($element.find('span:first').text());
                } catch (e) {
                    return 0;
                }
            },
            type: 'numeric'
        });
        $('table.statsByUser').addClass('tablesorter').tablesorter({
            sortList: [[0, 0]],
            headers: {
                3: {
                    sorter: 'completion-percentage'
                },
                4: {
                    sorter: 'completion-percentage'
                },
                5: { // Disable sorting for the column with the links
                    sorter: false
                }
            }
        });
    });
    #end
    //-->
    </script>
#else
    <p>$tr.tr("no_results")</p>
#end